
TWE2/save/.DS_Store
TWE2/save_classifydata/.DS_Store
*.p
*.txt
TWE2/log/train/.DS_Store
TWE2/log/test/.DS_Store
TWE2/.DS_Store
TWE2/log/.DS_Store
TWE/re/.DS_Store
TWE/save/.DS_Store
*.local
LLA/log/train/.DS_Store
LLA/log/test/.DS_Store
LLA/log/.DS_Store
LLA/re/.DS_Store
*.data-00000-of-00001
*.meta
*.index
LLA/save/.DS_Store
LLA/save/checkpoint
TWE2/re/.DS_Store
TWE/log/.DS_Store
TWE/log/test/.DS_Store
TWE/log/train/.DS_Store
TWE/.DS_Store
RE/TWE_DMM/.DS_Store
RE/LLA_word/.DS_Store
RE/LLA_topic/.DS_Store
RE/LFLDA/.DS_Store
Evaluation/.DS_Store
DMM/.DS_Store
.DS_Store
data/news_sohusite_xml.dat
data/news_tensite_xml.dat
*.zip
